* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.imgtopo {
    max-width: 100%;
    border-radius: 10px 10px 10px 10px;
}

.topo h3 {
    color: rgb(78, 78, 78);

}

.flex {
    display: flex;
    justify-content: center;
}

.background {
    max-width: 100%;
    max-width: 1200px;
}

.minhaimg {
    max-width: 100px;
    border-radius: 50%;
    margin-top: -60px;
    border: white solid 5px;
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}


.portfolio a img {
    border-radius: 7px;
    max-width: 285px;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.portfolio {
    display: grid;
    grid-template-columns: 285px 285px 285px 285px;
    gap: 20px 20px;
    justify-content: center;
}

.portfolio a p {
    position: absolute;
    color: white;
    font-weight: bold;
    margin-top: 235px;
    padding-left: 20px;
    font-size: 30px;
}

/* --------------------------------------------------------------------
 */
 .popup-wrapper{
  display: none ;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  }
  .popup{
    
    font-family: Arial;
    width: 100%;
    max-width: 600px;
    margin: 10% auto;
    
    padding: px 20px;
    background: white;
    position: relative;
    border-radius: 7px;
  }
  .popup a{
  
    color: white;
    cursor: pointer;
    padding: 6px 10px;
    text-decoration: none;
    background: crimson;
  }
  .popup_close{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
  }
  
  .popup ul{
      margin-left: 20px; 
      margin-top: 15px;
  }
  

 /* --------------------------------------------------------------------
 */

@media (max-width: 1200px) {
    .portfolio {
        grid-template-columns: auto auto auto;
        gap: 20px 20px;
    }

    .imgtopo {
        border-radius: 0px 0px 10px 10px;

    }


}

@media (max-width: 900px) {
    .portfolio {
        grid-template-columns: auto auto;
        gap: 20px 20px;
    }

    .imgtopo {
        border-radius: 0px 0px 10px 10px;

    }
}

@media (max-width: 600px) {
    .portfolio {
        grid-template-columns: auto;
        align-items: center;
        gap: 20px 20px;
        max-width: 600px;

    }

    .imgtopo {
        border-radius: 0px 0px 10px 10px;

    }
    .abre-popup-arduino{
       max-width: 100%; 
    }
    .popup{
        border-radius: 0px;
      }
}
@media (max-width:500px){
    .portfolio{
        gap: 0px 0px;
    }
    .portfolio a img {
        border-radius: 7px;
        max-width: 100%;
        margin: 0px;
        padding: 0px;
        justify-content: center;
    }

    .portfolio a p {
        
        justify-content: center;
        text-align: center;
        position: absolute ; 

    }

    .popup{
        border-radius: 0px;

      }

}
